<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="contact.css">
    <title>Contact Us</title>
</head>

<body class='contact-body'>
    <a href="travel_agency.html"><img class='logo' src="img/logo.png" alt=""></a>

    <div class="banner">
        <img class='coconut' src="img/coco2.png" alt="">
        <span class='contact-us-heading'>Contact Us</span>
        <img class='coconut' src="img/coco2.png" alt="">
    </div>

    <div class="offices-container ">
        <div class="beijing-office-container">
            <div class='beijing-clock'>
                <iframe
                    src="http://free.timeanddate.com/clock/i7nyfz9g/n241/szw110/szh110/hocf00/hbw0/hfcc00/cf100/hnca32/fas20/facfff/fdi86/mqcfff/mqs2/mql3/mqw4/mqd70/mhcfff/mhs2/mhl3/mhw4/mhd70/mmv0/hhcfff/hhs2/hmcfff/hms2/hsc000/hss1/hsw6"
                    frameborder="0" width="110" height="110"></iframe>
            </div>
            <span class='beijing-office-span mt-3'>Beijing Office</span>
            <div class="container-fluid mt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/gugong.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">北京</h5>
                        <p class="card-text">紫禁城位于北京的中心。故宫，又称紫禁城，是清明两代的皇宫</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">电话： +8610 68367391</li>
                        <li class="list-group-item">地址： 北京西直门桥CBD广场 48层4808</li>
                        <li class="list-group-item">时间： 8AM ~ 8PM</li>
                    </ul>
                    <div class="card-body">
                        <a href="travel_agency.html" class="card-link">回到首页</a>

                    </div>
                </div>
            </div>
        </div>





        <div class="calgary-office-container">
            <div class='calgary-clock'>
                <iframe
                    src="http://free.timeanddate.com/clock/i7nyfz9g/n55/szw110/szh110/hoc000/hbw0/hfc00f/cf100/hncf00/fas20/facfff/fdi86/mqcfff/mqs2/mql3/mqw4/mqd70/mhcfff/mhs2/mhl3/mhw4/mhd70/mmv0/hhcfff/hhs2/hmcfff/hms2/hsc000/hss1/hsw6"
                    frameborder="0" width="110" height="110"></iframe>

            </div>
            <span class='calgary-office-span mt-3'>Calgary Office (HQ)</span>
            <div class="container-fluid mt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top justified-img" src="img/calgary.png.crdownload" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Calgary Office</h5>
                        <p class="card-text">It is situated at the confluence of the Bow River</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Phone： +1(403)756-7158</li>
                        <li class="list-group-item">Address: The Bow Building 2202 Canada T2H 0J6</li>
                        <li class="list-group-item">Hours: 8AM ~ 8PM</li>
                    </ul>
                    <div class="card-body">
                        <a href="travel_agency.html" class="card-link">Home Page</a>

                    </div>
                </div>
            </div>
        </div>





        <div class="hawaii-office-container">
            <div class='hawaii-clock'>
                <iframe
                    src="http://free.timeanddate.com/clock/i7nykaey/n103/szw110/szh110/hocf00/hbw0/hfcc00/cf100/hnca32/fas20/facfff/fdi86/mqcfff/mqs2/mql3/mqw4/mqd70/mhcfff/mhs2/mhl3/mhw4/mhd70/mmv0/hhcfff/hhs2/hmcfff/hms2/hsc000/hss1/hsb2/hsw8"
                    frameborder="0" width="110" height="110"></iframe>


            </div>
            <span class='hawaii-office-span mt-3'>Hawaii Office</span>
            <div class="container-fluid mt-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top justified-img" src="img/hawaii-card.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hawaii Office</h5>
                        <p class="card-text">Hawaii is a U.S. state located in the Pacific Ocean.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Phone: +1(808)467-1037</li>
                        <li class="list-group-item">Address: 2427 Kūhiō Ave., Honolulu, HI 96815,</li>
                        <li class="list-group-item">Hours: 8AM ~ 8PM</li>
                    </ul>
                    <div class="card-body">
                        <a href="travel_agency.html" class="card-link">Home Page</a>

                    </div>
                </div>
            </div>
        </div>


    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>